*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

.calculator{
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px,3px,15px grey;
    
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px,3px,15px grey;
    font-size: 45px;
    text-align: right;
    cursor: pointer;
    color: #fff;
}

input::placeholder{
    color: #fff;

}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #FFFF;
    font-size: 23PX;
    box-shadow: -8px -8px 15px rgb(149, 101, 101);
    cursor: pointer;
}
.equals{
    border: none;
background-color: orangered;
border-radius: 50%;
cursor: pointer;
font-family: 23px;
 box-shadow: -8px -8px 15px rgb(149, 101, 101);
 height: 60px;
margin: 10px;
 width: 60px;
 box-sizing: border-box;
 margin-top: auto;
 margin-left: auto;

}
.operator{
    color: greenyellow;
}