div{
    height: 200px;
    width: 200px;
    background-color: black;
    background-image: url("spin.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    animation-name: spinanimate;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    animation-iteration-count: 5;
}
@keyframes spinanimate {
   0%{
    transform: rotate(90deg);
   }
   90%{
    transform: rotate(360deg);
   }

}