*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}


.navbar{
    height: 100px;
    background-color:black;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image:url("amazonlogo.jpg");
    height: 50px;
    width: 100px ;
    background-size: cover;
    
}