*{
 padding: 0%;
 margin: 0%;
 color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}
a{
    margin-right: 200px;
}
button{
    font: size 50px;
    color: gold;
    background-color: cadetblue;
}
#logo{
    color: gold;
    font-size: larger;
}