*{
    margin: 0;
    padding: 0;
}
.container{
    width: 520px;
    height: 50px;
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function:ease-out;
}
.search-bar{
    height: 40px;
    width: 320px;
    background-color:bisque;
    color: black;
    border: 3px solid blueviolet;
    border-radius: 6px;
    margin: 300px 300px;
}

.container:hover{
transition-property: all;
transition-duration: 4s;
transition-timing-function: ease-in-out;

}

.search-bar:hover{
cursor: pointer;
background-color: aquamarine;
font-size: large;
transition-property: all;
transition-duration: 4s;
transition-timing-function: ease-in-out;
}