*{
    margin: 0;
    padding: 0;
} 
 
.container{
    width: 230px;
    background-color: rgba(111, 155, 124, 0.204);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.button-border{
background: linear-gradient(115deg,#fbaaf6,#fb9062,#fce499,#6a0bd8);
padding: 2px;
}

.button{
    height: 50px;
    width: 230px;
    background-color: aqua;
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    
}

.button-border:hover{
background: linear-gradient(115deg,blue,rgb(46, 175, 46),rgb(113, 4, 113),yellow);
border-style: double;


}

.button-border:hover .button{
    color: rgb(145, 91, 25);
    padding: 1.1em 1.1em;
    font-weight:bolder;
}
 