*{
 padding: 0%;
 margin: 0%;
}

.container{
    margin-left: 50px;
    margin-top: 60px;
    justify-content: center;
    height: 300px;
    display: flex;
    align-items: center;

}
.Square{
    height: 80px;
    width: 70px;
    background-color: rgb(100, 62, 96);
    margin: 7px;
    border: 2px solid purple;
    animation: pulse infinite 1s;
}

@keyframes pulse{
    from{
     background-color: rgb(0, 255, 60);
     transform: rotate(45deg);
    }
    to{
 background-color: red;
     height: 2.5em;
     width: 2.5em;
     border: 3px solid rgb(255, 210, 47);
     transform: rotate(360deg);
    }
}
