.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-2 {
    margin: 26px 0px;

}

.text-center {
    text-align:left;
}

.my-1 {
    margin: 5px 0;
    text-align:left;
    text-transform: capitalize;
}